/* HeroesComponent's private CSS styles */
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

input {
  padding: .5rem;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    display: block;
    font-size: 16pt;
    margin-top: 0.5em;
}

.heroes li {
  position: relative;
  cursor: pointer;
  width: 400px;
}

.heroes li:hover {
  left: .1em;
}

.heroes a {
  color: #333;
  text-decoration: none;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  display: block;
  width: 100%;
}

.heroes a:hover {
  color: #ff4d4d;
  background-color: #e6e6e6;
}

.heroes a:active {
  background-color: #f78181;
  color: #fafafa;
}

.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #ff4d4d;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}


.add-button {
  padding: .5rem 1.5rem;
  font-size: 1rem;
  margin-bottom: 2rem;
 }
 
 .add-button:hover {
   color: white;
   background-color: #ff4d4d;
 }
 
 button.delete {
   position: absolute;
   left: 420px;
   top: 5px;
   background-color: white;
   color:  #525252;
   font-size: 1.1rem;
   margin: 0;
   padding: 1px 10px 3px 10px;
 }
 
 button.delete:hover {
   background-color: #ff4d4d;
   color: white;
 }

 label {
  
  color: rgb(255, 238, 5);
  font-weight: bold;
  font-size: 1.2rem;
 }

 .content {
  width: 100%;
  margin: 0 37%;
  display: flex;
 }

