
<div>
  <label for="new-hero">Nome de Heroi: </label>
  <input id="new-hero" #heroName />

  <button type="button" class="add-button" (click)="add(heroName.value); heroName.value=''">
    Adicionar
  </button>
</div>

<div class="content">
  <ul class="heroes">
    <li *ngFor="let hero of heroes">
      <a routerLink="/detail/{{hero.id}}">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
      </a>
      <button type="button" class="delete" title="deletar"
      (click)="delete(hero)">x</button>
    </li>
  </ul>
</div>

